* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

.container-fluid{
    background-image: url("./Assets/Images/sky-background-concept_23-2148644507\ \(1\).jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}

.input-temp {
  width: 100%;
}

.input-temp input {
    height: 50px;
    width: 30%; 
}
/* 
@keyframes container-fluid {
    from {
        transform: translateX()
    }
    to {
        transform: translateX(-300px);
    } */
}