* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    position: relative;
}


.container-fluid{
    background-image: url("./Assets/Images/clearoff.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    overflow: hidden;
    
}

.container {
    width: 240px;
    height: 180px;
    /* padding: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 300px;
  }
  
  .cloud {
    width: 250px;
  }
  
  .front {
    padding-top: 45px;
    margin-left: 25px;
    display: inline;
    position: absolute;
    z-index: 11;
    animation: clouds 8s infinite;
    animation-timing-function: ease-in-out;
  }
  
  .back {
    margin-top: -30px;
    margin-left: 150px;
    z-index: 12;
    animation: clouds 12s infinite;
    animation-timing-function: ease-in-out;
  }
  
  .right-front {
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -25px;
    z-index: 5;
  }
  
  .left-front {
    width: 65px;
    height: 65px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
  }
  
  .right-back {
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -20px;
    z-index: 5;
  }
  
  .left-back {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
  }
  
  .sun {
    width: 120px;
    height: 120px;
    background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
    background: linear-gradient(to right, #fcbb04, #fffc00);
    border-radius: 60px;
    display: inline;
    position: absolute;
  }
  
  .sunshine {
    animation: sunshines 2s infinite;
  }
  
  @keyframes sunshines {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
  
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }
  
  @keyframes clouds {
    0% {
      transform: translateX(15px);
    }
  
    50% {
      transform: translateX(0px);
    }
  
    100% {
      transform: translateX(15px);
    }
  }
  

/* .container-fluid:hover {
    transform: scale(1.2);
    transition: all 5s;
} */

/* .logo {
    height: 70px;
    position: absolute;
    top: 20px;
} */

.container-fluid .birds {
    height: 100px;
    width: 200px;
    animation-name: birdsfly;
    animation-duration: 60s;
    animation-delay: 40s;
    animation-iteration-count: infinite;
}

.container-fluid .cloud1 {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
}

.container-fluid .cloud2 {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
}

.container-fluid .cloud4 {
    position: absolute;
    bottom: 230px;
    left: 0;
    width: 200px;
    height: 110px;
}

.container-fluid .cloud3 {
    position: absolute;
    left: -250px;
    animation-name: cloudfall1;
    animation-duration: 40s;
    /* animation-delay: 5s; */
    animation-iteration-count: infinite;
}

.container-fluid .cloud3:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-out;
    
}

.container-fluid .cloud5 {
    position: absolute;
    top: 190px;
    left: -160px;
    animation-name: cloudfall2;
    animation-duration: 60s;
    animation-delay: 40s;
    animation-iteration-count: infinite;
}

.container-fluid .cloud5:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-out;
    /* transition-timing-function: ease-in-out; */
}

.container-fluid .cloud6 {
    position: absolute;
    left: -160px;
    animation-name: cloudfall2;
    animation-duration: 60s;
    animation-delay: 20s;
    animation-iteration-count: infinite;
}

.container-fluid .cloud6:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-out;
    /* transition-timing-function: ease-in-out; */
}

.container-fluid .cloud7 {
    position: absolute;
    top: 80px;
    left: -320px;
    animation-name: cloudfall1;
    animation-duration: 60s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}
.container-fluid .cloud7:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-out;
    /* transition-timing-function: ease-in-out; */
}

.container-fluid .cloud8 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
}

.container-fluid .cloud8:hover {
    transform: scale(1.06);
    transition: all 1s;
    transition-timing-function: linear;
}

.input-temp {
    font-family: 'Fjalla One', sans-serif;
    width: 450px;
    height: 500px;
    background-color: rgba(211, 160, 229, 0.567);
    background-image: linear-gradient(rgba(145, 62, 204, 0.289),rgba(220, 152, 26, 0.218),rgba(81, 245, 251, 0.459));
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 1s;
    z-index: 3;
    box-shadow: -10px 10px 15px rgba(2, 2, 2, 0.212);
}

.input-temp:hover {
    box-shadow: 10px 10px 15px rgba(2, 2, 2, 0.212);
    transform: scale(1.1);
}

.input-temp input {
    padding-left: 20px;
    height: 50px;
    width: 300px; 
    border-radius: 30px;
    transition: all 1s;
    /* transition-delay: 5s; */
    /* border: 1px solid rgba(126, 126, 126, 0.612); */
    background: linear-gradient(0deg, #b090d0 0%, #fcfdff );
    box-shadow: 4px 4px 12px 0px rgb(200 190 229 / 52%) inset, -4px -4px 12px 0px rgba(210, 173, 105, 0.641)inset; 
    
}

.input-temp input:hover {
    transition: width 1s;
    width: 400px;
    box-shadow: 5px 5px 10px 5px rgba(15, 14, 14, 0.258);
}


@keyframes cloudfall1 {
    0%   { right:-100px;  }
    100% { left:100%; }
}

@keyframes cloudfall2 {
    0%   { right:-100px; }
    100% { left:100%; }
}

@keyframes cloudfall3 {
    0%   { right:-100px; }
    100% { left:100%; }
}

@keyframes cloudfall4 {
    0%   { right:-100px; }
    100% { left:100%; }
}

@keyframes birdsfly {
    0%   { left:-300px; }
    100% { right:100%; }
}
